@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Ubuntu&display=swap');

:root {
    position: relative;
    overflow-x: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: calc(8.4px + 0.525vw);
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
}

h2,
h3,
h4,
h5,
h6,
.navbar-brand {
    font-weight: 700;
}

h3 {
    /* font-size: 1.5rem; */
    font-size: 24px;
}

P {
    color: #8f8f8f;
}

.container-fluid {
    padding: 7% 15%;
}

.btn-group-lg>.btn,
.btn-lg {
    /* font-size: 1.25rem; */
    font-size: 20px;
}

/* Title Section */

#title {
    background-color: #FF3A57;
    color: #EEEEEE;
    text-align: left;
}

@media (max-width: 991px) {
    #title {
        text-align: center;
    }
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    /* font-size: 1.2rem; */
    font-size: 19.2px;
    font-weight: 300;
}

/* Title Content */

.big-headings {
    font-size: 3.5rem;
    line-height: 1.5;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

.tindog-app {
    right: 30%;
    margin: 5% 0 0 0;
    position: absolute;
    transform: rotate(25deg);
    width: 60%
        /*calc(11.75rem + 5.875vw)/*60%*/
    ;
}

@media (max-width: 991px) {
    .tindog-app {
        position: static;
        transform: rotate(0deg);
    }
}

/* Features */

#features {
    background-color: #FFF;
    position: relative;
    z-index: 1;
}

.features-box {
    padding: 4.5%;
    text-align: center;
}

.features-icon {
    color: #F74C66;
    margin-bottom: 1rem;
}

.features-icon:hover {
    color: #FF3A57;
}

/* Testimonials Section */

#testimonials {
    background-color: #F74C66;
    text-align: center;
    color: #fff;
}

#testimonials .container-fluid {
    padding: 0;
}

.carousel-item {
    padding: 7% 15%;
}

#testimonials h2 {
    font-style: italic;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #F74C66;
    text-align: center;
    /* padding-bottom: 3%; */
}

.press-logo {
    width: 15%;
    min-width: 147.3px;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing .container-fluid {
    padding: 100px;
    text-align: center;
}

@media (max-width: 575px) {
    #pricing .container-fluid {
        padding: 100px 15%;
    }
}

.pricing-col {
    padding: 3% 2%;
}

/* Call to Action Section */

#cta {
    background-color: #F74C66;
    color: #FFF;
    text-align: center;
}

#cta h3 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer Section */

footer {
    text-align: center;
}

@media (min-width: 1200px) {
    footer {
        font-size: 17.6px;
    }
}

.social-icon {
    display: inline-block;
    margin: 20px 10px;
    color: #000;
}

/* TYPOGRAPHY, SIZING, AND SPACING TWEAKS */

.navbar-toggler-icon {
    /* width: 1.5em; */
    /* height: 1.5em; */
    width: 24px;
    height: 24px;
}

/* CHANGING FONT FROM RELATIVE/FLUID TO ABSOLUTE */
body {
    /* font-size: 1rem; */
    font-size: 16px;
}

/* PREVENT BUTTON FROM STAKCING */
@media (min-width: 992px) and (max-width: 1013px) {

    #title .btn-group-lg>.btn,
    #title .btn-lg {
        font-size: 18px;
    }
}

/* PREVENT HEADING FROM OCCUPYING 5th LINE */
@media (min-width: 992px) and (max-width: 1007px) {
    .big-headings {
        font-size: 3.4rem;
    }
}

/* RE-ALIGN IMAGES THE SAME AS THE OTHER ELEMENTS */
#press .container-fluid {
    padding: 0 15% 3% 15%;
}
